body{
    padding-bottom: 50px;
}

.picture{
    padding: 10px;
}

.image{
    height: 250px;
    background: midnightblue;
}

.poke{
    font-weight: bold;
}

.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.box{
    border: 1px solid grey;
    height: 350px;
}

.carouselContainer{
    /* background: royalblue; */
    background:url("./img/carousel/2.jpg");
    height: 400px;
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}

/*modal*/
.modal-fader.active,
.modal-window.active {
    display: block;
}
.modal-fader{
    display: none;
    position: fixed;
    top: 0;left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.8);
}
.modal-window{
    display: none; 
    position: absolute; 
    left: 50%; 
    top:100%; 
    vertical-align: middle;
    transform: translateX(-50%);
    z-index: 99999;
    background: #fff;
    padding: 20px;
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;}
/* Modal Content/Box */

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/**
* css for tooltip
*/
.tooltipContent{
    visibility: hidden;
    width: 120px;
    background-color: #e4e3e3;
    border: 1px dotted black;
    padding: 20px !important;
    text-align: center;
    padding: 4px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
}
/**
*chaser
*/


#mouse-traking{
    border: 1px solid grey;
    height: 350px;
    padding: 0;
    position: absolute;
}
.chaser{
    position: relative;
    transition-property: top, left;
    transition-duration: 0.2s ease-in;
}

/**
* runner
*
#mouseRunner{
    border: 1px solid grey;
    height: 350px;
    padding: 0;
    position: relative;
}
.runner{
    position: absolute;
    transition-property: top, left;
    transition-duration: 0.1s;
}*/